doctype html
html
  head
     title= title
  body
    if(title == "Add Todo !")
        a(href='/todo') RETOUR
    else
        a(href='/team') RETOUR
    form(name="add", method='POST')
          div
            label(for='message') Message:
            input(type='text', placeholder='message todo' name='message')
            button(type='submit', value="add") Add Todo