doctype html
html
  head
    title login
  body
    a(href='/user/register') Create new user
    if(message)
         h4 #{message}
    form(method='POST')
          div
            label(for='pseudo') Pseudo
            input(type='text' id='pseudo' placeholder='your pseudo' name='pseudo')
          div
            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
          button(type='submit') Log in
          br
          br
    if(users)
        p members list :
        ul
            each user in users
                li #{user.pseudo} [#{user.team}]